/**
    Styles based on the Photon Design System for Firefox Products
    Resource Link: https://design.firefox.com/photon/introduction/principles.html
**/

body {
    background-color: #ffffff;
    padding: 4px;
}

.inputGroup {
    margin: 8px 0px;
    display: flex;
    align-items: center;
}

.inputGroup .label {
    margin-right: 8px;
    color: #0c0c0d;
}

.error {
    margin: 0px 16px;
    display: none;
}

.errorIcon {
    background-color: #d70022;
    color: #ffffff;
    display: inline-block;
    padding: 0px 8px;
    font-weight: bold;
    margin-right: 4px;
    border-radius: 100%;
}

.errorText {
    color: #d70022;
}

.input {
    border-width: 1px;
    border-radius: 2px;
    padding: 0px 8px;
    height: 32px;
    border-color: rgba(12, 12, 13, 0.2);
}

.input:hover {
    border-color: rgba(12, 12, 13, 0.3)
}

.input:active {
    border-color: #0a84ff;
    box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);   
}

.input-error {
    border-color: #d70022;
    box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3);
}

.stepper {
    display: flex;
}

.stepperInput {
    text-align: center;
    width: 50px;
    z-index: 2;
    -moz-appearance: textfield;
}

.button {
    border-radius: 2px;
    height: 32px;
    padding: 8px 0px;
    font-size: 13px;
    width: 132px;
    max-width: 100%;
    border: 0;
    text-align: center;
}

.button:disabled {
    opacity: 0.4;
}

.button-primary {
    background-color: #0060df;
    color: #ffffff;
}

.button-primary:hover {
    background-color: #003eaa;
}

.button-primary:active {
    background-color: #002275;
}

.button-primary:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.button-ghost {
    color: rgba(12, 12, 13, 0.8);
    background-color: rgba(12, 12, 13, 0.1);
    width: 32px;
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
}

.button-ghost:hover {
    background-color: rgba(12, 12, 13, 0.2);
}

.button-ghost:active {
    background-color: rgba(12, 12, 13, 0.3);
}

.button-ghost:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}